@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Customer_Relationship_Management_1._0.Models.User>
<!-- Dynamic-Page For Users -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
</head>
<style>
* 
{
    font-family: Nunito;
}
body 
{
    font-family: Nunito;
}
.superTable
{
    position: absolute;
    background: #e9e3e3;
    color: black;
    border: 5px solid #e9e3e3;
    border-radius: 4px;
    left: 310px;
}
</style>
<body>
    <div class="superTable">
        <table>
            <thead>
                <tr>
                    <th>Ім'я</th>
                    <th>Країна</th>
                    <th>Номер телефону</th>
                    <th>Електронна пошта</th>
                    <th>Схвалено</th>
                    <th>Роль</th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.Country</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.Email</td>
                        <td>@user.IsApproved</td>
                        <td>@user.Role</td>
                        <td>
                            <a href="@Url.Action("Edit", "Users", new { id = user.UserId })" class="btn btn-primary">Edit</a>
                            <a href="@Url.Action("Delete", "Users", new { id = user.UserId })" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div> 
</body>
</html>